ul{
    list-style: none;
}
li{
    float: left;
    padding:1px;
    font-size: x-large;
}
a{
    text-decoration: none;
    font-style: oblique;
    background-color: burlywood;
    padding:3px;
}
li :hover{
    background-color: blue;
    color:red;
    border-bottom: brown solid 1px;
}